html, body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F0DBBE;

    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

section{
    top: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

/* TYPOGRAPHY STUFF */

h1{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 4em;
    text-align: center;
}

h2{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 2em;
    text-align: center;
}
h3{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 1em;
    text-align: center;
}

h6{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 14px;
    text-align: center;
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    background-color: #67161F;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3em;
}


.navbar-float{
    background-color: #67161F;
    width: 70vw;
    border-radius: 15px;
    margin-top: 1em;
    padding: 1em;
}
.navbar-toggler-icon{
    background-color: #F0DBBE;
    border-radius: 5px;
}

#searchBar input{
    background-color: #F0DBBE;
    border: 3px solid #67161F;
    border-radius: 15px;
    padding: 10px;
    width: 40vw;
    color: #67161F;
}
input {
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 20px;

}
input ::placeholder{
    font-family: "Creepster", system-ui;
    color: #67161F;
    opacity: 1; /* Firefox */
}

/* 
==================================
    🩸 BLOOD DROP DOWN CASCADE 🩸
===================================
WE NEED TO FIND A WAY TO MAKE IT STOP SLIGHTLY BEYND THE VIEWPORT SO THAT WHEN YOU OPEN THE MENU THE BLOD DRIOPS STRAIGHT DOWN
*/

#splash-background {
    /* z-index: 50; */
    pointer-events: none;
}

#splash-background img{
    width: 100%;
    height: auto;
    position: absolute;
}

#dropdown-menu {
    background-color: transparent;
    width: 100%;
    pointer-events: auto;
}

/* CLOSED STATE */
#dropdown-nav {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #67161F;
    padding-top: 0;
    padding-bottom: 0;

    /* i want the opacity to fade slower on close and fast on open */
    transition: max-height 0.6s ease-in-out, 
                padding 0.6s ease-in-out,
                opacity 30s ease-out;
}

/* OPEN STATE */
#dropdown-menu.is-open #dropdown-nav {
    max-height: 550px;
    opacity: 1;
    padding-top: 120px;
    padding-bottom: 4em;
    /* SNAP OPEN FASTER */
    transition: max-height 0.6s ease-in-out,
                padding 0.6s ease-in-out,
                opacity 0.1s ease-in;
}

#dropdown-nav a{
    color: #F0DBBE;
    font-family: "Creepster", system-ui;
    font-size: 25px;
    text-align: center;
    transition: color 0.2s ease;
}

#dropdown-nav a:hover{
    color: #AD2F33;
}


#navbar-close {
color: #F0DBBE;
font-family: "Creepster", system-ui;
font-size: 30px;
position: absolute;
right: 30px;
top: 110px;
text-decoration: none;
}

#splashImg img{
    width: 100%;
    height: auto;
    display: block;
}

.splash-container{
    display: flex;
    justify-content: center;    
    align-items: center;        
    flex-direction: column;     
    font-family: "Creepster", system-ui;
    color: #67161F;
    padding: 15%;
    /* padding-top: 25%; */
}

.moreButton{
    width: 10%;
}

input{
    border: none;
    display: flex;              
    justify-content: center;    
    align-items: center; 
    flex-direction: column; 
}
/* ========================= */
/* MOVIE CARDS SYSTEM */
/* ========================= */

.movie-item{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    padding: 30px;
    align-items: center;
    align-content: row;
    background-color: #67161F;
    border-radius: 16px;
    margin: 2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-item:hover{
    background-color: #AD2F33;
    transform: scale(1.02);
}

.movie-item h3{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    font-size: 25px;
    text-align: center;
    padding-top: 1em;
}

.movie-item img{
    width: 100%;
    height: auto;
    border-radius: 16px;
    
}

.movie-content{
    padding: 30px;
    background-color: #AD2F33;
    margin: 30px;
    border-radius: 16px;
}

.movie-content h3, .movie-content p{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
}

#review-extended{
    display: none;
}

/* FOOTER SHIT */
footer{
    margin-top: auto;
}

.footer{
    background-color: #67161F;
    text-align: center;
}

footer h3{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
}

footer img{
    display: block;
    width: 100%;
    height: auto;
}