<header id="home">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="d-flex fixed-top flex-row justify-content-center align-content-center">
          <div class="navbar-float d-inline-flex">
            <div class="p-2">
              <a class="navbar-brand" href="/index.html">
                <img src="/assets/logos/logoLight.png" width="100px" height="50px" alt="Spoilt Milk Logo" />
              </a>
            </div>
  
            <div class="p-2">
              <form id="searchBar" role="search">
                <input type="search" placeholder="Search" aria-label="Search" />
              </form>
            </div>
  
            <div class="p-2">
              <button id="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <div id="splashBackground">
    <div id="dropdown-menu">
      <div id="dropdown-nav">
        <button id="navbar-close" type="button">X</button>
        <div class="container-fluid">
          <div class="d-flex flex-row justify-content-around">
            
            <div class="d-flex flex-column">
              <div class="p-2"><a href="/index.html">Home</a></div>
              <div class="p-2"><a href="/Pages/Horror.html">Horror</a></div>
              <div class="p-2"><a href="/Pages/Slasher.html">Slashers</a></div>
              <div class="p-2"><a href="/Pages/Thriller.html">Thrillers</a></div>
              <div class="p-2"><a href="/Pages/Psycological.html">Psychological</a></div>
              <div class="p-2"><a href="/Pages/Disturbing.html">Disturbing</a></div>
              <div class="p-2"><a href="/Pages/found footage.html">Found Footage</a></div>
            </div>
  
            <div class="d-flex flex-column">
              <div class="p-2"><a href="/Pages/Top10.html">Editor's Choice</a></div>
              <div class="p-2"><a href="/Pages/Cult-Vibes.html">Cult Vibes</a></div>
              <div class="p-2"><a href="/Pages/Mind-bend.html">Mind-bend</a></div>
              <div class="p-2"><a href="/Pages/Body Horror.html">Body Horror</a></div>
              <div class="p-2"><a href="/Pages/Gore.html">Flood of Blood</a></div>
              <div class="p-2"><a href="/Pages/Garbage.html">Garbage</a></div>
              <div class="p-2"><a href="/Pages/420 Hits.html">420 Hits</a></div>
            </div>
  
            <div class="d-flex flex-column">
              <div class="p-2"><a href="/Pages/Reviews.html">Reviews</a></div>
              <div class="p-2"><a href="/Pages/About.html">About</a></div>
              <div class="p-2"><a href="/Pages/Submit.html">Recommend a film</a></div>
              <hr />
              <a href="#">Instagram</a>
            </div>
  
          </div>
        </div>
      </div>
      <div id="splashImg">
        <img src="/assets/images/splash.png" alt="Dripping Blood Overlay" />
      </div>
    </div>
  </div>